/.vagrant
/config.yml
/*.log
/application/.next
/application/.env
/application/node_modules
/application/nohup.out
/ansible_vagrant/roles/*
!/ansible_vagrant/roles/next-dev
!/ansible_vagrant/roles/set-env
/ansible_vagrant/custom_vars.yml
